<% content_for :header do %>
  <%= stylesheet_link_tag 'start' %>
<% end %>

<div class="img-bg">
  <nav>
    <div class="nav-wrapper">
      <a href="<%= users_path %>" class="brand-logo center">Core</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="<%= "/auth/fitbit" %>" >Login / Signup</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <a href="<%= "/auth/fitbit" %>" >Login / Signup</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col s4 offset-s6 about-me">
      <h1>About:</h1>
      <p>Lo-fi banjo everyday carry organic, kale chips try-hard cornhole pug
        mumblecore ennui helvetica 3 wolf moon trust fund. Locavore knausgaard
        cold-pressed gentrify organic roof party. Pop-up ennui selvage pinterest
        franzen, four dollar toast PBR&B celiac retro schlitz chia meggings
        keytar listicle health goth. Waistcoat brunch tote bag, hashtag neutra
        literally kale chips. Leggings fanny pack synth cardigan pour-over DIY
        mlkshk selvage 3 wolf moon vegan, iPhone bespoke quinoa kombucha
        thundercats. Poutine crucifix lumbersexual occupy, kale chips next level
        four dollar toast kickstarter. Locavore meditation trust fund, aesthetic
        seitan bespoke franzen swag umami green juice messenger bag PBR&B
        kickstarter intelligentsia.</p>
    </div>
  </div>
</div>
