<div class="main">
  <img src="RiverFitness.jpg">
  <div class="content">
    <div class="quote">dldsl;dsl;lds;l;dsl;dsl;dsl;l;
    </div>
    <hr/>
    <div class="content-footer">
      <div class="signup">Sign Up</div>
      <div class="login">Login</div>
    </div>
  </div>
</div>
