<% content_for :header do %>
  <%= stylesheet_link_tag 'start' %>
<% end %>

<div class="img-bg">
  <nav>
    <div class="nav-wrapper">
      <a href="<%= users_path %>" class="brand-logo center">Core</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a href="<%= "/auth/fitbit" %>" >Login / Signup</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li>
          <a href="<%= "/auth/fitbit" %>" >Login / Signup</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row">
    <div class="col s4 offset-s6 about-me">
      <h1>About:</h1>
      <p> When it comes to meeting your fitness goals, diet is just as important as your workout routine. Core combines your diet regimen with your fitness plan in one place. Find out how your workouts are progressing and what your diet for the day consists of. Sign up using your Fitbit so we can let you know if you've met your calorie goal for the day, and how close you are to finally achieving your weight goal.</p>
    </div>
  </div>
</div>
