<div class="main">
  <div class="appName">myPersonalFitnessTrainer</div>
  <img src="RiverFitness.jpg">
  <div class="content">
    <div class="quote"> "Look in the mirror… That’s your competition"
    </div>
    <div class="content-footer">
      <a href="<%= "/auth/fitbit" %>" class="waves-effect waves-light btn">Login / Signup</a>
        <i class="material-icons right mdi-action-account-box"></i>
      </button>
    </div>
  </div>
</div>
