<% content_for :header do %>
  <%= javascript_include_tag 'api_calls' %>
<% end %>

<div class="row">
  <div class="col s12">
    <h1>Hello World</h1>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <%= render './exercises/template' %>
  </div>
</div>
