// Place all the styles related to the Meals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$category-background-colour: #351330;
$category-font-color: #FFF;

// .diet-table {
//   margin-top: 20px;
//   color: black;
//   border: solid 3px blue;
//   border-radius: 5px;
// }

.diet-table h3 {
  margin-left: 10px;
}

.cat {
  background-color: $category-background-colour;
  padding-right: 100px;
  padding-left: 20px;
  padding-top:15px;
  padding-bottom:15px;
  color: $category-font-color;
}

// h5 {
//   padding-top: 15px;
//   padding-bottom: 15px;
// }

// p {
//   font-size: 20px;
// }

.item-cat:hover {
  cursor: pointer;
  cursor: hand;
  background-color: #424254;
}

.extra {
  display: none;
  font-size: 15px;
  font-style: italic;
}
