<nav>
  <div class="nav-wrapper  blue-grey lighten-1">
    <a href="#!" class="brand-logo center">myPersonalFitnessTrainer</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <% if current_user %>
        <li><a href="sass.html">
          <%= link_to "Log out", session_path("current"), method: :delete %>
        </a></li>
      <% end %>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <% if current_user %>
        <li><a href="sass.html">
          <%= link_to "Log out", session_path("current"), method: :delete %>
        </a></li>
      <% end %>
    </ul>
  </div>
</nav>
